// variables about theme color
$theme-color : #DC3E38;
$dark-theme-color : darken($theme-color, 10%);

$light-back-color : #ddd;
$mark-color : #E6A23C;
$success-color : #67C23A;
$theme-color-red : #DC3E38;
$theme-color-blue : #3158D3;
$text-color : #333;


// variables about font size
$normal-size : 14px;
$large-size : 16px;
$title-size : 20px;
$tip-size : 12px;

$theme-width: 1200px;